#error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  height: 100vh;
  width: 100%;
  color: rgb(187, 89, 9);

  h2 {
    display: flex;
    gap: 10px;
    font-size: 70px;
    span {
      transform: rotateZ(20deg);
    }
  }

  a {
    text-decoration: underline;
  }
}
