/* default */
a {
  color: inherit;
}

body {
  background-color: aliceblue;
}

button,
.btn {
  cursor: pointer;
  padding: 5px 25px;
  background-color: #1d1d1d;
  border-radius: 10px;
  color: aliceblue;
  box-shadow: 0 0 5px rgb(187, 89, 9);
}
